* {
  box-sizing: border-box;
}



.inp_tags {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;


}

.data {
  margin-top: 15px;
  background-color: #ffffff;
  border-collapse: collapse;
  overflow-x: auto;

}

input[type=submit]:hover {
  background-color: #165c1a;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 10%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.Search {

  display: flex;
  align-items: center;
  margin-top: 15px;
  width: 50%;
  border: none;
}

.btn-icon {

  padding: 12px;
  background: #ffffff;
  color: rgb(0, 98, 255);
  border: none;
  cursor: pointer;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {

  .col-25,
  .col-75,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


.btn1 {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

.show_data {
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}